

.profbelavafmr {
      border: 1px solid var(--border);
    background: var(--cadrebelava);
    padding: 2px;
  text-align: center;
  }

txtfmr {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    text-transform: uppercase;
    color: var(--txt);
      font-size: 13px;
   }

.character-profile {
    display: flex;
}

.left-column, .right-column {
    padding: 10px;
}

.character-story {
font-size: 14px;
    font-family: arial;
    text-align: justify;
    line-height: 17px;
    color: var(--bgtxtrp);
 
}

.character-info {
 background-color: var(--fdprofil);
      margin-top: -50px;
    width: 180px;
  font-family: poppins;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    font-size: 10px;
    text-transform: lowercase;
    color: var(--txt);
}

presafmr  {
    color: var(--neutralDark);
    font-family: 'roboto';
    line-height: normal;
    font-size: 9px !important;
    font-weight: 700;
    text-transform: uppercase;
  padding: 5px;
  }

.character-photo img {
    width: 180px;
    object-fit: cover;
      padding: 0.25rem 0.25rem 0.063rem 0.25rem;
    box-shadow: 0 0 1px var(--shadowava);
  margin-top: -70px;
}

