kaet1 {
font-family: 'DM Serif Display', serif;
font-style: normal; 
text-align : center;
font-size: 14px;  
font-weight: 500; 
font-display: swap; 
}

kaet2 {
font-family: 'Lato', sans-serif;
font-style: normal; 
text-align : center;
font-size: 12px;  
font-display: swap; 
}
